body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(196, 39, 39);
    padding: 10px 0;
}

nav .box2,
nav .box1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

nav .box1 a {
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

.btn_white {
    background-color: white;
    color: rgb(193, 39, 39) !important;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 10px;
}

.xarita {
    border: none !important;
}

nav .box2 a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav .box2 p {
    color: white;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.header .box1,
.header .box2,
.header .box3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.header input {
    padding: 15px 120px;
    border-radius: 10px;
}

.header .box1 a {
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px 50px;
}

.rasm {
    margin-right: 40px;
}

.info1 {
    display: flex;
    gap: 20px;
}

.box77 {
    border: 3px solid red;
    border-radius: 5px;
    padding: 10px;
}

.box76 img {
    width: 1100px;
}

.box77 button {
    background-color: yellow;
    border-radius: 5px;
}

.info2 {
    display: flex;
    justify-content: space-around;
}

.info3 {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.info3 img {
    border-radius: 8px;
}

.info4 {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info4 div {
    border: 1px solid black;
    padding: 10px 25px;
    border-radius: 10px;
    background-color: rgba(84, 84, 207, 0.153);
}

.info5 {
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    background-color: rgb(207, 37, 37);
    text-align: center;
    display: flex;
    justify-content: center;
}

.info5 div {
    text-align: center;
    border: 1px solid #fff;
    padding: 30px 390px;
    width: 500px;
    border-radius: 20px;
    color: #fff;
    font-size: 30px;
    font-family: cursive;
}

.info5 div button {
    padding: 20px 30px;
    color: white;
    border: 1px solid #fff;
    font-size: 15px;
    border-radius: 30px;
    background-color: rgba(255, 0, 0, 0.344);
}

.info5 div:hover {
    padding: 40px 420px;
    transition: 1s;
}


.info6 {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.info6 .box1 img {
    border-radius: 20px;
}

.info6 .box2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.info6 .box2 .card div {
    border: 1px solid black;
    padding: 10px 25px;
    border-radius: 10px;
    background-color: rgba(84, 84, 207, 0.153);
    margin-bottom: 20px;
    margin-left: 20px;
}

.info6 .box2 .card div button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: yellow;
}

.info7 {
    padding: 0 50px;
}

.info7 h2 {
    font-size: 33px;
    font-family: cursive;
}
.info7 a {
    margin-top: 20px;
    color: red;
    font-size: 20px;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    background-color: rgb(159, 200, 236);
}

footer .payment img {
    border-radius: 10px;
    padding: 15px;
    margin-right: 10px;
    background-color: rgb(227, 232, 236);
}

.humo {
    padding: 10px 20px !important;
}

.paynet {
    padding: 20px 35px !important;
}
footer h2 {
    color: red;
    font-family: cursive;
}

main {
    padding: 0 90px;
}

main div {
    text-align: center;
}

main a {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border-radius: 10px;
    margin: 10px 0 70px;
}

main h3 {
    font-size: 30px;
}

main h1 {
    font-size: 40px;
}

